
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/reset-css/_reset";

@import 'pages/landing-page';

$gutter: 30px;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $gutter;
}


